@font-face {
    font-family: 'alte_haas_grotesk';
    src: url('/fonts/altehaasgroteskbold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alte_haas_grotesk';
    src: url('/fonts/altehaasgroteskregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_text';
    src: url('/fonts/cmunit-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cmu_typewriter_text_bold';
    src: url('/fonts/cmuntb-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_text';
    src: url('/fonts/cmuntt-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_text';
    src: url('/fonts/cmuntx-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.3rem;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  margin: 0 auto;
}

header > h1 {
  font-family: var(--title-font);
  text-transform: uppercase;
  color: var(--title-color);
  font-size: 3.7rem;
  margin: 1rem 0 1.742rem 0;
}

h1 {
  text-align: center;
  font-size: 2.6rem;
}

h1, h2, h3, h4, h5 {
  font-family: var(--heading-font);
}

p {
 line-height: 1.7rem
}

hr {
  border: 1px solid var(--text-color);
  margin: 1rem 0 1rem 0;
}

/* strong {
  text-transform: capitalize;
} */

table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  margin: 1rem 0 1rem 0;
}

footer > p {
  font-style: italic;
}

.lastdate {
  font-family: var(--heading-font);
  font-size: 1rem;
}

.subtitle {
  font-style: italic;
}

a:link,
a:visited {
  color: var(--link-color);
}

a:hover,
a:active {
  color: var(--link-hover-color);
}

nav > ul {
  text-align: center;
  padding-left: 0;
}

nav > ul {
  font-family: sans-serif;
  list-style-type: none;
  list-style-position: inside;
  text-transform: uppercase;
  margin: 1rem;
}

nav > ul > li {
  display: inline;
}

nav > ul > li > a {
  display: inline-block;
  margin: 0.5rem;
}

nav > ul > li > a:link,
nav > ul > li > a:visited {
  color: var(--nav-color);
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: var(--nav-hover-color);
}


nav > ul > li > a,
header > h1 > a {
  text-decoration: none;
}

header > h1 > a:link,
header > h1 > a:visited {
  color: var(--title-color);
}

header > h1 > a:hover,
header > h1 > a:active {
  background-color: var(--title-hover-color);
  color: var(--background-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
}

footer > h1 > a {
  background-color: var(--accent-color);
  background-image: var(--cirlce-background-image);
  font-family: var(--letter-font);
  text-decoration: none;
  border: none;
  border-radius: 50%;
  margin: 1rem;
  display: inline-block;
  text-align: var(--circle-text-align);
  font-size: var(--circle-font-size);
  width: 8rem;
  line-height: 8rem;
}

footer > h1 > a:link,
footer > h1 > a:visited {
  color: var(--accent-color-2);
}

footer > h1 > a:hover,
footer > h1 > a:active {
  background-color: var(--accent-color-3);
  background-image: none;
  color: var(--accent-color-4)
}

@media only screen and (min-width: 700px) {

  body {
    width: 700px;
  }
