@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Righteous&display=swap');

@font-face {
    font-family: 'alte_haas_grotesk';
    src: url('/fonts/altehaasgroteskbold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alte_haas_grotesk';
    src: url('/fonts/altehaasgroteskregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_text';
    src: url('/fonts/cmunit-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cmu_typewriter_text_bold';
    src: url('/fonts/cmuntb-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_text';
    src: url('/fonts/cmuntt-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_text';
    src: url('/fonts/cmuntx-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

body {
  font-family: 'cmu_typewriter_text', Courier, 'Courier New', monospace;
  padding: 1rem;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.3rem;
}

h1 {
  font-family: 'alte_haas_grotesk', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #e40712;
  font-size: 3.7rem;
}

h2 {
  font-family: 'alte_haas_grotesk', sans-serif;
}

h3 {
  font-family: 'alte_haas_grotesk', sans-serif;
}

h3 {
  font-family: 'alte_haas_grotesk', sans-serif;
}

h4 {
  font-family: 'alte_haas_grotesk', sans-serif;
}

h5 {
  font-family: 'alte_haas_grotesk', sans-serif;
}

p {
 line-height: 1.7rem
}

hr {
  margin: 1rem 0 1rem 0;
}

strong {
  text-transform: capitalize;
}

table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a:link,
a:visited {
  color: #000000;
}

a:hover {
  color: #e40712;
}

.pre-nav > h1 {
  margin: 0 0.7rem 0 0.7rem;
  color: #e40712;
  font-size: 1.7rem;
}

.pre-nav p {
  margin: 0 1rem 0 1rem;
}

.pre-nav a:link,
.pre-nav a:visited {
  color: #CB121C;
}

.pre-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: sans-serif;
  list-style-type: none;
  list-style-position: inside;
  text-transform: uppercase;
  padding: 0;
}

nav > ul > li > a {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1rem;
}

nav > ul > li > a,
.pre-nav > h1 > a {
  text-decoration: none;
}

.pre-nav > h1 > a:hover {
  color: #000000;
}

.barcode {
  font-family: 'Libre Barcode 128', sans-serif;
}

@media only screen and (min-width: 700px) {

  body {
    width: 700px;
  }
