@font-face {
    font-family: 'ITC Serif Gothic Heavy';
    src: url('/fonts/itc_serif_gothic_heavy-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vollkorn';
    src: url('/fonts/Vollkorn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vollkorn';
    src: url('/fonts/Vollkorn-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'vollkorn';
    src: url('/fonts/Vollkorn-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'vollkorn';
    src: url('/fonts/Vollkorn-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
  --background-color: #fff8e7;
  --title-color: #006c67;
  --title-hover-color: #006c67;
  --nav-color: #1c1b19;
  --nav-hover-color: #fff8e7;
  --nav-hovor-background-color: #006c67;
  --nav-font: 'alte_haas_grotesk', sans-serif;
  --text-color: #1c1b19;
  --link-color: #c15300;
  --link-hover-color: #fff8e7;
  --link-hovor-background-color: #c15300;
  --accent-color: #1c1b19;
  --accent-color-2: #fff8e7;
  --accent-color-3: #006c67;
  --accent-color-4: #c15300;
  --title-transform: uppercase;
  --title-font-size: 3.7rem;
  --title-font: 'ITC Serif Gothic Heavy', sans-serif;
  --heading-font: 'alte_haas_grotesk', sans-serif;
  --main-font: 'vollkorn', serif;
  --letter-font: 'Lapti Nek', sans-serif;
  --cirlce-background-image: none;
  --circle-font-size: 4.5rem;
  --cirlce-text-align: center;
  --circle-line-height: 9rem;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
