@font-face {
    font-family: 'breathe_fire_iiiregular';
    src: url('/fonts/breathefireiii-pklob-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
  --background-color: #ffffff;
  --title-color: #e40712;
  --title-hover-color: #e40712;
  --nav-color: #000000;
  --nav-hover-color: #e40712;
  --text-color: #000000;
  --link-color: #000000;
  --link-hover-color: #e40712;
  --accent-color: #000000;
  --accent-color-2: #ffffff;
  --accent-color-3: #e40712;
  --accent-color-4: #ffffff;
  --title-transform: uppercase;
  --title-font-size: 3.7rem;
  --title-font: 'breathe_fire_iiiregular', sans-serif;
  --heading-font: 'alte_haas_grotesk', sans-serif;
  --main-font: 'cmu_typewriter_text', Courier, 'Courier New', monospace;
  --letter-font: 'breathe_fire_iiiregular', sans-serif;
  --cirlce-background-image: none;
  --circle-font-size: 3.5rem;
  --cirlce-text-align: center;
}
