@font-face {
    font-family: 'ITC Serif Gothic Heavy';
    src: url('/fonts/itc_serif_gothic_heavy-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averia_serif_libre';
    src: url('/fonts/averiaseriflibre-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averia_serif_libre';
    src: url('/fonts/averiaseriflibre-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'averia_serif_libre';
    src: url('/fonts/averiaseriflibre-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'averia_serif_libre';
    src: url('/fonts/averiaseriflibre-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
  --background-color: #fff8e7;
  --title-color: #e40712;
  --title-hover-color: #e40712;
  --nav-color: #1c1b19;
  --nav-hover-color: #fff8e7;
  --nav-hovor-background-color: #e40712;
  --nav-font: 'alte_haas_grotesk', sans-serif;
  --text-color: #1c1b19;
  --link-color: #1c1b19;
  --link-hover-color: #fff8e7;
  --link-hovor-background-color: #e40712;
  --accent-color: #1c1b19;
  --accent-color-2: #fff8e7;
  --accent-color-3: #e40712;
  --accent-color-4: #fff8e7;
  --title-transform: uppercase;
  --title-font-size: 3.7rem;
  --title-font: 'ITC Serif Gothic Heavy', sans-serif;
  --heading-font: 'alte_haas_grotesk', sans-serif;
  --main-font: 'averia_serif_libre', serif;
  --letter-font: 'ITC Serif Gothic Heavy', sans-serif;
  --cirlce-background-image: none;
  --circle-font-size: 3.5rem;
  --cirlce-text-align: center;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
