---
layout: home.njk
title: "Notes"
---

<h1>Notes</h1>

<div class="note-cards">
  {%- for post in collections.notes | reverse -%}
    <div class="single-note">
      <h3>{{ post.data.title }}</h3>
      <p>Posted on <a href="{{ post.data.url }}"><time datetime="{{ post.data.date }}">{{ post.data.date.toDateString() }}</time></a>.</p>
    </div>
  {%- endfor %}
</div>
