---
layout: home.njk
title: Pages
---

<h1>Pages</h1>

<div class="all-cards">
  {%- for post in collections.pages -%}
    <div class="single-card">
      <h3><a href="{{ post.data.url }}">{{ post.data.title }}</a></h3>
    </div>
  {%- endfor %}
</div>
