---
layout: home.njk
title: Pages
subtitle: A digital garden
---

<ul>
  {%- for post in collections.pages -%}
    <li><a href="{{ post.data.url }}">{{ post.data.title }}</a></li>
  {%- endfor %}
</ul>
