---
layout: main.njk
title: Posts
---

<h1>Posts</h1>

<div class="post-cards">
  {%- for post in collections.posts | reverse -%}
    <div class="single-post">
      <h3><a href="{{ post.data.url }}">{{ post.data.title }}</a></h3>
    </div>
  {%- endfor %}
</div>

<footer>
  <p>Subscribe via <a href="/feed.xml">RSS</a>.</p>
</footer>
