---
layout: home.njk
title: Projects
subtitle: The things I'm working on; the things I'm procrastinating.
---

<div class="all-cards">
  {%- for post in collections.projects -%}
    <div class="single-card">
      <ul class="tags">
        {%- for tag in post.data.tags -%}
          {%- if tag != 'projects' -%}
            <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
          {%- endif %}
        {%- endfor %}
      </ul>
      <h2><a href="{{ post.data.url }}">{{ post.data.title }}</a></h2>
      <p>{{ post.data.subtitle }}</p>
    </div>
  {%- endfor %}
</div>
