<div class="h-card">
  <a class="u-url" href="https://jacobdensford.com/" rel="me"></a>
  <a class="u-email" href="mailto:contact@jacobdensford.com" rel="me"></a>
  <a href="https://post.lurk.org/@jacobdensford" rel="me"></a>
  <a href="https://github.com/jacobdensford" rel="me"></a>
  <img class="u-logo" href="/images/icon-full.png" rel="me"/>
</div>
