---
layout: head-cobbland.njk
---

    <header>

      <h1 class="p-name" id="top"><a href="{{ sitelink }}">Cobb Land</a></h1>

      <hr/>

      <nav>
        <ul>
          <li><a href="/cobbland/creating-a-character/">Thing One</a></li>
          <li><a href="/cobbland/playing-the-game/">Thing Two</a></li>
          <li><a href="/cobbland/running-the-game/">Thing Three</a></li>
          <li><a href="/cobbland/the-fell/">Thing Four</a></li>
        </ul>
      </nav>

      <hr/>

    </header>

    {{ content | safe }}

    <footer>

      <h1><a href="#top"><img src="/images/cobblandicon.png" alt="Cobbland Swan"></a></h1>

    </footer>
