---
layout: head.njk
---

<header class="site-header">
  <h1 id="home" class="site-title"><a href="/">Jacob Densford</a></h1>
</header>

{{ content | safe }}

<footer class="site-footer">
  <a href="/">&#8592; Back to home</a>
  <a href="#home">&#8593; Back to top &#8593;</a>
  <a href="https://www.backtothefuture.com/" target="_blank">Back to future &#8594;</a>
</footer>
