<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <title>{{ title }} | {{ sitetitle }}</title>
    <link rel='stylesheet' href='/css/variables-sabacc.css'/>
    <link rel='stylesheet' href='/css/styles.css'/>
    <link rel="icon" type="image/png" href="/images/sabaccicon.png">
  </head>
  <body>

{{ content | safe }}

  </body>
</html>
