---
layout: head-f.njk
---

    <header>

      <h1 class="p-name" id="top"><a href="{{ sitelink }}">{{ sitetitle }}</a></h1>

      <hr/>

      <nav>
        <ul>
          <li><a href="/fell/creating-a-character/">Creating a Character</a></li>
          <li><a href="/fell/playing-the-game/">Playing the Game</a></li>
          <li><a href="/fell/running-the-game/">Running the Game</a></li>
          <li><a href="/fell/the-fell/">The Fell</a></li>
          <li><a href="/fell/downloads/">Downloads</a></li>
        </ul>
      </nav>

      <hr/>

    </header>

    {{ content | safe }}

    <footer>

      <h1><a href="#top">{{ letter }}</a></h1>

    </footer>
