---
layout: head-ef.njk
---

    <header>

      <h1 class="p-name" id="top"><a href="{{ sitelink }}">{{ sitetitle }}</a></h1>

      <hr/>

      <nav>

        <ul>
          <li><a href="/empire-flame/journal">Campaign Journal</a></li>
          <li><a href="/empire-flame/heroes">Heroes</a></li>
          <li><a href="/empire-flame/magic-items">Magic Items</a></li>
          <li><a href="/empire-flame/house-rules">House Rules</a></li>
          <li><a href="/empire-flame/roleable-tables">Roleable Tables</a></li>
          <li><a href="/empire-flame/appendices">Appendices</a></li>
        </ul>

      </nav>

      <hr/>

    </header>

    {{ content | safe }}

    <footer>

      <h1><a href="#top">{{ letter }}</a></h1>

    </footer>
