<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <title>{{ title }} | {{ sitetitle }}</title>
    <link rel='stylesheet' href='/css/variables-f.css'/>
    <link rel='stylesheet' href='/css/styles.css'/>
    <link rel="icon" type="image/png" href="/images/fell-icon.png">
  </head>
  <body>

    <main>

      <header>
        <h1 class="p-name" id="top">Fell</a></h1>
      </header>

      {{ content | safe }}

    </main>

  </body>
</html>
