---
layout: head-sabacc.njk
---

    <header>

      <div class="return-home">
        <a href="/">J</a>
      </div>

      <h1 class="p-name" id="top"><a href="{{ sitelink }}">{{ sitetitle }}</a></h1>

      <hr/>

      <nav>

        <ul>
          <li><a href="/sabacc/yarith">Yarith Bespin Casino's Corellian Spike</a></li>
          <li><a href="/sabacc/zabaka">Zabaka's Corellian Spike</a></li>
          <li><a href="/sabacc/playing-sabacc-on-roll20">Playing Sabacc Online</a></li>
        </ul>

      </nav>

      <hr/>

    </header>

    {{ content | safe }}

    <footer>

      <h1><a href="#top">{{ letter }}</a></h1>

    </footer>
