---
layout: head-cobbland.njk
---

    <header>

      <div class="return-home">
        <a href="/">J</a>
      </div>

      <h1 class="p-name" id="top"><a href="{{ sitelink }}">Cobb Land</a></h1>

      <hr/>

      <nav>
        <ul>
          <li><a href="https://cobbland.itch.io/">itch.io</a></li>
          <li><a href="https://startplaying.games/gm/cobbland">StartPlaying</a></li>
          <li><a href="https://www.legendkeeper.com/app/clrtk3as00lyk0jn1hggm6inr">Fell Adventures</a></li>
          <li><a href="/fell">Fell RPG</a></li>
        </ul>
      </nav>

      <hr/>

    </header>

    {{ content | safe }}

    <footer>

      <h1><a href="#top"><img src="/images/cobbland-swan-dark.png" alt="Cobbland Swan"></a></h1>

    </footer>
