---
layout: head.njk
---

<header class="site-header">

  <!-- logo or whatever will go here -->

  <h1 id="top"><a href="/">Jacob Densford</a></h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/pages/">Pages</a></li>
      <li><a href="/posts/">Posts</a></li>
    </ul>
  </nav>

  <!-- social media links might go here -->

</header>

{{ content | safe }}

<footer class="site-footer">
  <a href="#home">&#8593; Back to top &#8593;</a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/pages/">Pages</a></li>
      <li><a href="/posts/">Posts</a></li>
    </ul>
  </nav>
</footer>
