---
layout: head-gf.njk
---

    <header>

      <h1 class="p-name" id="top"><a href="{{ sitelink }}">{{ sitetitle }}</a></h1>

      <hr/>

      <nav>

        <ul>
          <li><a href="/generic-fantasy/creating-a-character/">Creating a Character</a></li>
          <li><a href="/generic-fantasy/playing-the-game/">Playing the Game</a></li>
          <li><a href="/generic-fantasy/running-the-game/">Running the Game</a></li>
          <li><a href="/generic-fantasy/downloads/">Downloads</a></li>
        </ul>

      </nav>

      <hr/>

    </header>

    {{ content | safe }}

    <footer>

      <h1><a href="#top">{{ letter }}</a></h1>

    </footer>
