---
layout: head-ef.njk
---

    <header>

      <h1 id="top"><a href="/empire-flame">{{ title }}</a></h1>

      <hr/>

      <nav>

        <ul>
          <li><a href="#story">Story</a></li>
          <li><a href="#characters">Characters</a></li>
          <li><a href="#locations">Locations</a></li>
          <li><a href="#organizations">Organizations</a></li>
          <li><a href="#calendar">Calendar</a></li>
          <li><a href="#moons">Moons</a></li>
          <li><a href="#magic-items">Magic Items</a></li>
          <li><a href="#things-to-remember">Things to Remember</a></li>
          <li><a href="#house-rules">House Rules</a></li>
        </ul>

      </nav>

      <hr/>

    </header>

    {{ content | safe }}

    <footer>

      <hr/>

      <p><a href="#top">&#127761; &#127762; &#127763;</a></p>

    </footer>
