---
layout: main.njk
---

<section>

  <header>
    <h1>{{ title }}</h1>
  </header>

    {{ content | safe }}

</section>

<!-- can probably iterate over all the different sections to compile the home page together -->
