---
layout: main.njk
---

<div class="page-main">

  <article class="page-content">
    <header class="page-header">
      <h1 class="page-title">{{ title }}</h1>
    </header>

      {{ content | safe }}

  </article>

</div>
