---
layout: main.njk
---

<article>

  <header>
    <ul class="tags">
      {%- for tag in tags -%}
        <li>{{ tag }}</li>
      {%- endfor %}
    </ul>
    <h1>{{ title }}</h1>
    <p class="subtitle">{{ subtitle }}</p>
  </header>

    {{ content | safe }}

    <p class="posted-edited-time">Posted on <time datetime="{{ date }}"><!--figure out how to add date here--></time></p>

</article>
