---
layout: main.njk
---

<article class="page-content">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
    <p class="page-date">Published on
      <time datetime="{{ date }}">{{ date }}</time></p>
  </header>

    {{ content | safe }}

</article>
