---
layout: main.njk
---

<article class="h-entry">

  <header>
    <ul class="tags">
      {%- for tag in tags -%}
        <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
      {%- endfor %}
    </ul>
    <h1 class="p-name">{{ title }}</h1>
    <p class="subtitle p-summary">{{ subtitle }}</p>
  </header>

  <div class="e-content">

    {{ content | safe }}

  </div>

  <hr/>

  <footer>

    <p class="posted-edited-time">Created or edited on <a class="u-url" href="{{ post.data.url }}"><time class="dt-published dt-updated" datetime="{{ date }}">{{ date.toDateString() }}</time></a> by <a rel="author" class="p-author h-card" href="/">Jacob Densford</a>.</p>

  </footer>

</article>
