---
layout: main.njk
---

<article class="h-entry">

  <h2 class="p-name">{{ title }}</h2>

  <div class="e-content">

    {{ content | safe }}

  </div>

  <footer>

    <p class="lastdate">Created or edited on <a class="u-url" href="{{ post.data.url }}"><time class="dt-published dt-updated" datetime="{{ date }}">{{ date.toDateString() }}</time></a> by <a rel="author" class="p-author h-card" href="/">Jacob Densford</a>.</p>

  </footer>

</article>
