---
layout: main.njk
---

<article>

  <header>
    <a href="/projects/">Project</a>
    <h1>{{ title }}</h1>
    <p class="subtitle">{{ subtitle }}</p>
    <div class="subheading">
      <ul>
        {%- for tag in tags -%}
          <li>{{ tag }}</li>
        {%- endfor %}
      </ul>
      <p>Last edited on <time datetime="{{ date }}">{{ date }}</time></p>
    </div>
  </header>

    {{ content | safe }}

</article>
