---
layout: main.njk
title: Tags
---

<h1>Tags</h1>

<div class="post-cards">

  <div class="single-post">
    <h3><a href="/tags/games">Games</a></h3>
  </div>

  <div class="single-post">
    <h3><a href="/tags/personal">Personal</a></h3>
  </div>

  <div class="single-post">
    <h3><a href="/tags/reviews">Reviews</a></h3>
  </div>

  <div class="single-post">
    <h3><a href="/tags/travel">Travel</a></h3>
  </div>

  <div class="single-post">
    <h3><a href="/tags/writing">Writing</a></h3>
  </div>

</div>
